/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin:auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

@media (max-width: 991px) {
  body {
    width:100%;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #FADADA;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 2px;
  background: #FADADA;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(250, 218, 218, 0.8);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo img {
  max-height: 50px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #751D41;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a.active { color: #751D41}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #402D85;
}

.navbar .getintouch,
.navbar .getintouch:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #751D41;
  font-size: 14px;
  border: 2px solid #751D41;
  font-weight: 600;
}

.navbar .getintouch:hover,
.navbar .getintouch:focus:hover {
  color: #fff;
  background: #751D41;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #751D41;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
  display: block
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(117, 29, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #5f687b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #402D85;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  padding: 10px 15px;
}

.navbar-mobile .getintouch,
.navbar-mobile .getintouch:focus {
  padding: 8px 20px;
  margin: 15px;
  border-radius: 50px;
  color: #751D41;
  font-size: 14px;
  border: 2px solid #751D41;
  font-weight: 600;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #16df7e;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 70%;
  margin: 0 auto;
  height: 55vh;
  background: #fff;
}

#hero .container {
  padding-top: 72px;
}

#hero-text {
  padding-left:100px;
  padding-top:50px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #751D41;
}

#hero h2 {
  color: rgba(141, 36, 79, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
    width: 100%;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
  #hero-text {
    padding: 50px 0;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #751D41;
  max-height: 260px;
  position: relative
}

#footer .footer-bottom {
  padding-top: 30px;
  color: #fff;
  text-align: center;
}

#footer img {
  max-height: 80px;
}

#footer p {
  color: #BDBAC7;
}

#footer .social a{
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

#footer .footer-text{
  display:none;
}

#footer .social a:hover{
  opacity:1.5;
}

#footer .copyright{
  text-align:center;
  padding-top:8px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 0px;
    padding-bottom: 20px;
    max-height:100px;
  }


  #footer img {
    max-height: 50px;
  }

  #footer .social a{
    font-size:15px;
    max-width:24px;
    max-height:24px;
    line-height:24px;
    margin:2px;
  }

  #footer .copyright{
    text-align: center;
    float: none;
    font-size:8px;
  }
}

@media (min-width: 992px) {
  #footer .footer-text {
    display:block;
  }
}

@media (max-width: 991px) {
  #footer .footer-bottom {
    padding-top: 0px;
    padding-bottom: 20px;
    max-height:130px;
  }

  #footer img {
    max-height: 60px;
  }

  #footer .social a{
    font-size:18px;
    max-width:28px;
    max-height:28px;
    line-height:28px;
    margin:3px;
  }

  #footer .copyright{
    text-align: center;
    float: none;
    font-size:10px;
  }
}
/*--------------------------------------------------------------
# Careers
--------------------------------------------------------------*/
#careers {
  width: 100%;
  padding-top: 120px
}

#careers .we_hiring h2 {
  text-align: center;
  font-weight: bold;
}

#careers li {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 30px;
}

#careers .send_cv_text {
  margin-bottom: 70px;
  padding: 15px 30px;
  padding-top: 10px;
  background-color: #edf2f7;
  display: flex;
  grid-gap:15px;
  height: 85px;
}

#careers .bi-envelope {
  font-size: 25px;
  color: #1679f3;
  width: 100%;
}

@media (min-width: 992px) {
  #careers .vacancy {
    display: flex;
    grid-gap: 60px;
  }

  #careers {
    width: 70%;
    padding-top: 100px;
    margin: auto;
  }

  #careers .vacancy_name{
    max-width: 50%;
  }

  #careers .vacancy_desc{
    max-width: 50%;
  }

  #careers .send_cv_text{
    height: 70px;
  }

  #careers .send_cv_text span{
    padding-top: 8px;
  }
}

